*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html{
    scroll-behavior: smooth;
}
/*
.navbar{
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list{
    display: flex;
}

.list a{
    list-style: none;
    text-decoration: none;
    padding: 10px;
    color: white;
    text-transform: uppercase;
}

header .logo img{
    height: 100px;
    padding: 10px;
    border-radius: 50%;
    transition: all 0.3s;
}

header .logo img:hover{
    transform: scale(1.2);
    cursor: pointer;
}
*/



.container a img{
    height: 100px;
    padding: 10px;
    border-radius: 50%;
    transition: all 0.3s;
}

.container a img:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.list a:hover{
    background-color: rgb(238, 152, 91);
    color: whitesmoke;
    border-radius: 10px;
    transition: 0.3s;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../assets/sergey-kotenev-JHdDvYC9O1E-unsplash.jpg); 
}

.hero .textoHero{
    color: rgb(245, 245, 245);
    padding: 10px;
    text-transform: uppercase;
    transition: 0.5s;
}

.hero .textoHero:hover{
 transform: scale(1.1);
}

.hero .btnHero{
    padding: 10px;
    background-color: rgb(238, 152, 91);
    color: whitesmoke;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bolder;
    transition: 0.5s;
}

.hero .btnHero:hover{
    transform: scale(1.1);
}

.fondoHero{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgba(5,7,12,0.75), rgba(5,7,12,0.75));
    padding: 50px;
    border-radius: 15px;
}

/*FOOTER*/

.footer{
    color: whitesmoke;
}


.footer .logoFooter img{
    height: 100px;
    border-radius: 50%;
    margin-left: 170px;
    cursor: pointer;
}

.col-md-4 img{
    border-radius: 50%;
    margin-left: 170px;
    cursor: pointer;
    transition: all 0.3s;
}

.col-md-4 img:hover{
    transform: scale(1.2);
}

.col-md-4 h5{
    color:  rgb(238, 152, 91);
}
.col-md-4 .me-3{
    color:rgb(204, 204, 204) ;
    font-size: 30px;
    margin: 5px;
    transition: all 0.3s;
}

.col-md-4 .me-3:hover{
    color:rgb(238, 152, 91) ;
}

.Derechos{
    background-color: rgb(15, 15, 15);
    display: flex;
    justify-content: center;
    color: whitesmoke;
}

.Derechos .NombreFooter{
    font-weight: bolder;
}

/*MÁS VENDIDOS*/

.Populares{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(238, 152, 91);
    color: black;
    text-transform: uppercase;
}

.Populares h2{
    font-size: 35px;
    font-weight: bold;
}

.masVendidos{
    background-color: rgb(238, 152, 91);
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.cards{
    display: flex;
    background-color: rgb(238, 152, 91);
}

.cards .card{
    margin: 30px;
}

.card{
    transition: all 0.3s;
}

.card:hover{
    background-color: #333;
    color: whitesmoke;
}

/*
.masVendidos .card{
    display: flex;
    flex-direction: column;
    border:1px solid black;
    padding: 10px;
    background-color: rgba(5, 7, 12, 0.527);
    border-radius: 5px;
}

.masVendidos .card img{
    height: 300px;
}

.masVendidos .card .cardBtn{
    display: flex;
    justify-content: center;
    width: 100px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(22, 22, 22);
    color: whitesmoke;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bolder;
}

/* PRODUCTOS */

.seleccion{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 30px;
    background-color: rgb(65, 63, 63);
    height: 100px;
}

.seleccion button{
    padding: 15px;
    margin: 0px 20px ;
    background-color: rgb(238, 152, 91);
    color: whitesmoke;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bolder;
    transition: all 0.3s;
}

.seleccion button:hover{
    transform: scale(1.2);
}

.Novedades{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #F987B0 ;
    height: 420px;
}

.imagenBanner{
    display: flex;
}

.descripcion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.descripcion .tituloBanner{
    margin-left: 35px;
    color: white;
    padding: 20px;
    font-size: 70px;
    transition: 0.3s;
}

.descripcion .tituloBanner:hover{
    color: aquamarine;
}

.descripcion .descripcionBanner{
    color: whitesmoke;
    font-size: 20px;
    padding: 20px;
    font-weight: 500;
}

.tituloCafeteria{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
 
.tituloCafeteria .cafeteriaTitulo{
   font-size: 40px;
   color: black;
}

.cafeteria{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cafeteria .productosCafe img{
    display: flex;
    height: 260px;
    margin: 10px;
    padding: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
}

.cafeteria .productosCafe img:hover{
    transform: scale(1.2);
}

.productosCafe .nombreProducto{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: black
} 

/*QUIENES SOMOS*/

.aboutUs{
    height: 500px;
    background-image: url(../assets/About\ us.jpg);
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    

}

.sobreNosotrosTitulo{
    background-color: rgba(238, 152, 91, 0.596);
    width: 500px;
    padding: 10px;
    margin: 50px;
    color: whitesmoke;
    font-size: 50px;
}

.quienesSomosContenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(172, 98, 64);
}

.quienesSomosContenido h2{
    font-size: 40px;
    padding: 5px;
    color: rgb(0, 0, 0);
}

.quienesSomosContenido p{
    font-size: 20px;
    padding-top: 15px;
    margin: 10px;
    color: whitesmoke;
}

/*CONTACTO */

main {
    height: 750px;
    padding: 20px;
    background-color: rgb(238, 152, 91);
}

.contacto {
    max-width: 600px;
    margin: auto;
}

.contacto h2 {
    font-size: 40px;
    color: #333;
}

.contacto form label {
    display: block;
    margin-bottom: 5px;
}

.contacto form input[type="text"],
.contacto form input[type="email"],
.contacto form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.contacto form textarea {
    height: 150px;
}


.informacion-contacto{
    padding: 15px 0;
}

/*GALERÍA*/

.tituloGalería{
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 50px;
    background-color:rgb(238, 152, 91) 
}

.gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 20px;
    padding: 20px;
    background-color:rgb(238, 152, 91) ;
}

.image {
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    height: 100%;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s;
}

.image:hover img {
    transform: scale(1.1);
}


/*RESPONSIVE*/

@media only screen and (max-width: 768px) {
    
    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards .card{
        width: 300px;
    }

    .container{
        display: flex;

    } 

    .imagenBanner{
        height: 300px;
        width: auto;
    }

    .Novedades{
        display: flex;
        flex-direction: column;
        height: 500px;
    }

    .Novedades .descripcion .tituloBanner{
        font-size: 30px;
    }

    .descripcionBanner{
        display: none;
    }



    .Derechos{
        display: flex;
        font-size: small;
        padding-top: 5px;
    }

    .cafeteria{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #333;
    }

    .productosCafe{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .productosCafe .nombreProducto{
        color: whitesmoke;
    }
  }
  
  @media only screen and (max-width: 576px) {
    .hero{
        height: 300px;
    }

    .hero .textoHero{
        font-size: small;
    }

    .hero .btnHero{
        font-size: small;
    }

    .Populares h2{
        font-size: 20px;
        font-weight:500;
    }
    .footer .container .col-md-4 .footer-logo{
        display: none;
    }

    .gallery{
        display: flex;
        flex-direction: column;
    }

    .cafeteria{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #333;
    }

    .productosCafe{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .productosCafe .nombreProducto{
        color: whitesmoke;
    }

    .bannerNovedades{
        width: 100%;
        height: 80%;
    }

    .Novedades{
        display: flex;
        flex-direction: column;
        height: 400px;
    }

    .Novedades .descripcion .tituloBanner{
        font-size: 25px;
    }

    .descripcionBanner{
        display: none;
    }
  }